<div class="list-group ">
   <div class="list-group-item dashboard"><i class="fa fa-fw fa-bar-chart"></i> <?php echo $wo['lang']['dashboard']; ?></div>
   <div class="admin-panel-well">
      <a href="<?php echo Wo_SeoLink('index.php?link1=admincp&page=manage_users');?>" data-ajax="?link1=admincp&page=manage_users">
      <div class="user-count admin-static pull-left">
         <div class="icon">
            <i class="fa fa-user"></i>
         </div>
         <div class="text">
            <?php echo Wo_CountAllData('user'); ?> Total Users
         </div>
      </div>
      </a>
      <a href="<?php echo Wo_SeoLink('index.php?link1=admincp&page=manage_posts');?>" data-ajax="?link1=admincp&page=manage_posts">
      <div class="posts-count- admin-static pull-left">
         <div class="icon">
            <i class="fa fa-pencil"></i>
         </div>
         <div class="text">
            <?php echo Wo_CountAllData('posts'); ?> Posts
         </div>
      </div>
      </a>
      <a href="<?php echo Wo_SeoLink('index.php?link1=admincp&page=manage_pages');?>" data-ajax="?link1=admincp&page=manage_pages">
      <div class="page-count admin-static pull-left">
         <div class="icon">
            <i class="fa fa-flag"></i>
         </div>
         <div class="text">
            <?php echo Wo_CountAllData('page'); ?> Pages
         </div>
      </div>
      </a>
      <a href="<?php echo Wo_SeoLink('index.php?link1=admincp&page=manage_groups');?>" data-ajax="?link1=admincp&page=manage_groups">
      <div class="groups-count admin-static pull-left">
         <div class="icon">
            <i class="fa fa-users" style="font-size:25px;color:blue"></i>
         </div>
         <div class="text">
            <?php echo Wo_CountAllData('group'); ?> Groups
         </div>
      </div>
      </a>
      <a href="<?php echo Wo_SeoLink('index.php?link1=admincp&page=online_users');?>" data-ajax="?link1=admincp&page=online_users">
      <div class="online-count admin-static pull-left">
         <div class="icon">
            <i class="fa fa-user"></i>
         </div>
         <div class="text">
            <?php echo Wo_CountOnlineData(); ?> Online Users
         </div>
      </div>
      </a>
      <div class="comments-count admin-static pull-left">
         <div class="icon">
            <i class="fa fa-comment"></i>
         </div>
         <div class="text">
            <?php echo Wo_CountAllData('comments'); ?> Comments
         </div>
      </div>
      <div class="games-count admin-static pull-left">
         <div class="icon">
            <i class="fa fa-gamepad"></i>
         </div>
         <div class="text">
            <?php echo Wo_CountAllData('games'); ?> Games
         </div>
      </div>
      <div class="messages-count admin-static pull-left">
         <div class="icon">
            <i class="fa fa-comments-o" style="font-size:20px;color:yellow"></i>
         </div>
         <div class="text">
            <?php echo Wo_CountAllData('messages'); ?> Messages
         </div>
      </div>
      <div class="clear"></div>
   </div>
   <div class="page-margin">
      <div id="admin-chart-container" style="min-width: 100%; height: 400px; margin: 0 auto;"></div>
   </div>
</div>
<?php 
$percentage = (30 / 58) * 100;
//echo $percentage . "%";
$user_statics = array();
$page_statics = array();
$groups_statics = array();
$posts_statics = array();
$months = array('1','2','3','4','5','6','7','8','9','10','11','12');
// user_statics
foreach ($months as $value) {
   $user_statics[] = Wo_GetRegisteredDataStatics($value, 'user');
}
$user_statics = implode(', ', $user_statics);

// page_statics
foreach ($months as $value) {
   $page_statics[] = Wo_GetRegisteredDataStatics($value, 'page');
}
$page_statics = implode(', ', $page_statics);

// groups_statics
foreach ($months as $value) {
   $groups_statics[] = Wo_GetRegisteredDataStatics($value, 'group');
}
$groups_statics = implode(', ', $groups_statics);

foreach ($months as $value) {
   $posts_statics[] = Wo_GetRegisteredDataStatics($value, 'posts');
}
$posts_statics = implode(', ', $posts_statics);
?>
<script>
   $(function () {
    Highcharts.setOptions({
      colors: ['#4c75a3', '#ce3d3d', '#f2b92b', '#6abd46']
    });
    $('#admin-chart-container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Monthly Average'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '<?php echo date("Y");?>'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '<?php echo $wo["lang"]["users"]?>',
            data: [<?php echo $user_statics;?>]

        }, {
            name: '<?php echo $wo["lang"]["pages"]?>',
            data: [<?php echo $page_statics;?>]

        }, {
            name: '<?php echo $wo["lang"]["groups"]?>',
            data: [<?php echo $groups_statics;?>]

        }, {
            name: '<?php echo $wo["lang"]["posts"]?>',
            data: [<?php echo $posts_statics;?>]

        }]
    });
});
</script>