<ul class="list-group" id="sidebar-followers-list-container">
   <li class="list-group-item text-muted" contenteditable="false">
      <i class="fa fa-users fa-fw" style="font-size:40px;color:blue;"></i> <?php echo $wo['lang']['friends_btn'];?> (<a href="<?php echo Wo_SeoLink('index.php?link1=timeline&u=' . $wo['user_profile']['username'] . '&type=followers');?>"><?php echo Wo_CountFollowing($wo['user_profile']['user_id']);?></a>)
      <span onclick="Wo_GetFollowers(<?php echo $wo['user_profile']['user_id']?>);" class="<?php echo Wo_RightToLeft('pull-right');?> refresh">
      <i class="fa fa-refresh" style="font-size:30px;color:orange"></i>
      </span>
   </li>
   <li>
      <div class="sidebar-followers-users-container">
          <?php 
          foreach (Wo_GetFollowing($wo['user_profile']['user_id'], 'sidebar', 9) as $wo['UsersList']) {
            $wo['UsersList']['user_name'] = mb_substr($wo['UsersList']['name'], 0, 10, "utf-8");
            echo Wo_LoadPage('sidebar/profile-sidebar-user-list');
          }
          ?>
      </div>
   </li>
   <li>
      <div class="clear"></div>
   </li>
</ul>