<ul class="list-group" id="sidebar-pages-list-container">
   <li class="list-group-item text-muted" contenteditable="false">
      <i class="fa fa-users fa-fw" style="font-size:40px;color:blue;"></i> <?php echo $wo['lang']['groups'];?> (<a href="<?php echo Wo_SeoLink('index.php?link1=timeline&u=' . $wo['user_profile']['username'] . '&type=groups');?>"><?php echo Wo_CountUserGroups($wo['user_profile']['user_id']);?></a>)
   </li>
   <li>
      <div class="sidebar-groups-container">
          <?php 
          foreach (Wo_GetUsersGroups($wo['user_profile']['user_id']) as $wo['GroupList']) {
            $wo['GroupList']['name'] = mb_substr($wo['GroupList']['name'], 0, 10, "utf-8");
            echo Wo_LoadPage('sidebar/sidebar-groups-list');
          }
          ?>
      </div>
   </li>
   <li>
      <div class="clear"></div>
   </li>
</ul>