<ul class="list-group" id="sidebar-pages-list-container">
   <li class="list-group-item text-muted" contenteditable="false">
      <i class="fa fa-thumbs-up fa-fw"></i> <?php echo $wo['lang']['likes'];?> (<a href="<?php echo Wo_SeoLink('index.php?link1=timeline&u=' . $wo['user_profile']['username'] . '&type=likes');?>"><?php echo Wo_CountUserLikes($wo['user_profile']['user_id']);?></a>)
      <span onclick="Wo_GetLikes(<?php echo $wo['user_profile']['user_id']?>);" class="<?php echo Wo_RightToLeft('pull-right');?> refresh">
      <i class="fa fa-refresh" style="font-size:30px;color:orange"></i>
      </span>
   </li>
   <li>
      <div class="sidebar-likes-container">
          <?php 
          foreach (Wo_GetLikes($wo['user_profile']['user_id'], 'sidebar', 12) as $wo['PageList']) {
            $wo['PageList']['user_name'] = mb_substr($wo['PageList']['name'], 0, 10, "utf-8");
            echo Wo_LoadPage('sidebar/sidebar-page-list');
          }
          ?>
      </div>
   </li>
   <li>
      <div class="clear"></div>
   </li>
</ul>