<div class="page-margin">
   <div class="row">
      <div class="col-md-8">
         <div class="list-group">
            <div class="list-group-item">
               <i class="fa fa-fw fa-shopping-cart"></i> <?php echo $wo['lang']['edit_product'] ?> #<?php echo $wo['product']['id'];?>
               <span class="<?php echo Wo_RightToLeft('pull-right');?>">
               <a href="<?php echo Wo_SeoLink('index.php?link1=my-products');?>" data-ajax="?link1=my-products"><i class="fa fa-fw fa-arrow-circle-left"></i><?php echo $wo['lang']['my_products'] ?></a>
               </span>
               <div class="clear"></div>
            </div>
            <div class="setting-well">
               <form class="create-album-form form-horizontal" method="post">
                  <fieldset>
                     <div class="app-general-alert setting-update-alert"></div>
                     <!-- Text input-->
                     <div class="form-group">
                        <label class="col-md-3" for="name"><?php echo $wo['lang']['name'] ?> *</label>  
                        <div class="col-md-6">
                           <input id="album_name" name="name" type="text" class="form-control input-md" value="<?php echo $wo['product']['name']?>">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-3" for="description"><?php echo $wo['lang']['description'] ?> *</label>  
                        <div class="col-md-6">
                           <textarea class="form-control" name="description" rows="5"><?php echo $wo['product']['edit_description']?></textarea>
                           <span class="help-block"><?php echo $wo['lang']['please_describe_your_product'] ?>.</span>	
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-3" for="category"><?php echo $wo['lang']['category'] ?> *</label>  
                        <div class="col-md-6">
                           <select class="form-control" name="category">
                           	  <?php 
                              foreach ($wo['products_categories'] as $key => $category) {
                                $selected = ($key == $wo['product']['category']) ? 'selected' : '';
                                if ($key > 0) {
                              ?>
                              <option value="<?php echo $key;?>" <?php echo $selected?>><?php echo $category;?></option>
                              <?php
                               }
                              }
                              ?>
                           </select>
                        </div>
                     </div>
                      <div class="form-group">
                        <label class="col-md-3" for="type"><?php echo $wo['lang']['type'] ?> *</label>  
                        <div class="col-md-6">
                           <select class="form-control" name="type">
                             <option value="0" <?php echo ($wo['product']['type'] == 0) ? 'selected' : '';?>><?php echo $wo['lang']['new'] ?></option>
                             <option value="1" <?php echo ($wo['product']['type'] == 1) ? 'selected' : '';?>><?php echo $wo['lang']['used'] ?></option>
                           </select>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-3" for="price"><?php echo $wo['lang']['price'] ?> *</label>  
                        <div class="col-md-6">
                           <input id="price" name="price" type="text" class="form-control input-md" value="<?php echo $wo['product']['price']?>">
                           <?php  
                           $price_text = str_replace('USD', $wo['config']['currency'], $wo['lang']['your_product_price']);
                           $price_text = str_replace('$', Wo_GetCurrency($wo['config']['currency']), $price_text);
                           ?>
                           <span class="help-block"><?php echo $price_text ?></span>  	
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-3" for="location"><?php echo $wo['lang']['location'] ?> *</label>  
                        <div class="col-md-6">
                           <input id="address" name="location" type="text" class="form-control input-md" value="<?php echo $wo['product']['location']?>">
                        </div>
                     </div>
                     <input type="hidden" name="product_id" value="<?php echo $wo['product']['id'];?>">
                     <div class="form-group">
                        <label class="col-md-3" for="photos"><?php echo $wo['lang']['add_photos'] ?> *</label>  
                        <div class="col-md-5">
                          <div class="input-group">
                             <span class="btn btn-default btn-file">
                             <i class="fa fa-camera-retro" style="font-size:15px;color:blue"></i><input type="file" id="publisher-photos" accept="image/x-png, image/gif, image/jpeg" name="postPhotos[]" multiple="multiple">
                             </span>
                          </div>
                        </div>
                     </div>
                     <div class="form-group" id="photo-form">
                        <label class="col-md-3"></label>  
                        <div class="col-md-6">
                           <input type="text" class="form-control input-md" readonly>
                        </div>
                     </div>
                     <div class="publisher-hidden-option">
                       <div id="progress">
                          <span id="percent">0%</span>
                          <div class="progress">
                           <div id="bar" class="progress-bar progress-bar-striped active"></div> 
                          </div>
                          <div class="clear"></div>
                       </div>
                     </div>
                     <hr>
                     <input type="hidden" name="id" class="form-control input-md" value="">
                     <input type="hidden" name="hash_id" value="<?php echo Wo_CreateSession();?>">
                     <div class="form-group last-btn">
                        <label class="col-md-3"></label>
                        <div class="col-sm-3">
                           <button type="submit" class="form-control btn btn-main">
                           <i class="fa fa-floppy-o progress-icon" data-icon="floppy-o"></i> <?php echo $wo['lang']['save'] ?>
                           </button>
                        </div>
                     </div>
                  </fieldset>
               </form>
            </div>
         </div>
      </div>
      <!-- .col-md-8 -->
      <?php echo Wo_LoadPage('sidebar/content');?>
   </div>
   <!-- .row -->
</div>
<!-- .page-margin -->
<script type="text/javascript">
   $(function() {
   	$("#publisher-photos").change(function () {
        var numFiles = this.files.length;
        $("#photo-form input").val(numFiles + ' photo(s) selected');
        $("#photo-form").slideDown(200);
    });
    var bar = $('#bar');
    var percent = $('#percent');
    var status = $('#status');
    var publisher_button = $('#publisher-button');
     $('form.create-album-form').ajaxForm({
       url: Wo_Ajax_Requests_File() + '?f=products&s=edit',
       beforeSend: function() {
         var percentVal = '0%';
         bar.width(percentVal);
         percent.html(percentVal);
         Wo_progressIconLoader($('form.create-album-form').find('button'));
       },
       uploadProgress: function (event, position, total, percentComplete) {
           var percentVal = percentComplete + '%';
           bar.width(percentVal);
           $('#progress').slideDown(200);
           if(percentComplete > 50) {
             percent.addClass('white');
           }
           percent.html(percentVal);
      },
       success: function(data) {
         if (data.status == 200) {
           window.location.href = data.href;
         } else {
             var errors = data.errors.join("<br>");
             $('.app-general-alert').html('<div class="alert alert-danger">' + errors + '</div>');
             $('.alert-danger').fadeIn(300);
         }
         Wo_progressIconLoader($('form.create-album-form').find('button'));
       }
     });
   });
  var pac_input = document.getElementById('address');
  (function pacSelectFirst(input) {
    // store the original event binding function
    var _addEventListener = (input.addEventListener) ? input.addEventListener : input.attachEvent;
    function addEventListenerWrapper(type, listener) {
      // Simulate a 'down arrow' keypress on hitting 'return' when no pac suggestion is selected,
      // and then trigger the original listener.
      if(type == "keydown") {
        var orig_listener = listener;
        listener = function (event) {
          var suggestion_selected = $(".pac-item-selected").length > 0;
          if(event.which == 13 && !suggestion_selected) {
            var simulated_downarrow = $.Event("keydown", {
              keyCode: 40,
              which: 40
            });
            orig_listener.apply(input, [simulated_downarrow]);
          }
          orig_listener.apply(input, [event]);
        };
      }
      // add the modified listener
      _addEventListener.apply(input, [type, listener]);
    }
    if(input.addEventListener)
      input.addEventListener = addEventListenerWrapper;
    else if(input.attachEvent)
      input.attachEvent = addEventListenerWrapper;
  })(pac_input);

  $(function () {
     var autocomplete = new google.maps.places.Autocomplete(pac_input);
  });
</script>