<?php
$notification_alert     = Wo_CountNotifications(array(
    'unread' => true,
    'data' => 'all'
));
$messages_alert         = Wo_CountMessages(array(
    'new' => true
));
$followers_alert        = Wo_CountFollowRequests();
$hidden_class           = '';
$messages_hidden_class  = '';
$followers_hidden_class = '';
$unread_update_notification = 'unread-update';
$unread_update_messages = 'unread-update';
$unread_update_followers = 'unread-update';
if ($notification_alert == 0) {
    $hidden_class = ' hidden';
    $unread_update_notification = '';
}
if ($messages_alert == 0) {
    $messages_hidden_class = ' hidden';
    $unread_update_messages = '';
}
if ($followers_alert == 0) {
    $followers_hidden_class = ' hidden';
    $unread_update_followers = '';
}
?>
<ul class="nav navbar-nav nav-names">
   <li>
      <a href="<?php echo Wo_SeoLink('index.php?link1=welcome');?>" style="border-right: 1px solid <?php echo $wo['config']['header_search_color'];?>;">
          <i class="fa fa-home"></i>
      </a>
   </li>
   <li>
      <a href="<?php echo Wo_SeoLink('index.php?link1=timeline&u=' . $wo['user']['username']);?>">
         <div class="user-avatar <?php echo Wo_RightToLeft('pull-left'); ?>">
            <img id="updateImage-<?php echo $wo['user']['user_id']?>" src="<?php echo $wo['user']['avatar'];?>" alt="<?php echo $wo['user']['name'];?> Profile Picture">
         </div>
      </a>
   </li>
   
</ul>
<ul class="nav navbar-nav navbar-right <?php echo Wo_RightToLeft('pull-right');?>">
   <li class="dropdown requests-container" onclick="Wo_OpenRequestsMenu();">
      <span class="new-update-alert<?php echo $followers_hidden_class;?>">
      <?php echo $followers_alert?>
      </span>
      <a href="#" class="dropdown-toggle <?php echo $unread_update_followers;?> sixteen-font-size" data-toggle="dropdown" role="button" aria-expanded="false">
      <i class="fa fa-users" style="font-size:20px;color:yellow"></i>
      </a>
      <ul class="dropdown-menu request-list clearfix notifications-dropdown" role="menu" id="requests-list">
        <li>
           <h5 class="text-center"><i class="fa fa-spinner fa-spin"></i></h5>
        </li>
      </ul>
   </li>
   <li class="dropdown messages-notification-container" onclick="Wo_OpenMessagesMenu();">
      <span class="new-update-alert<?php echo $messages_hidden_class;?>">
      <?php echo $messages_alert?>
      </span>
      <a href="#" class="dropdown-toggle <?php echo $unread_update_messages;?> sixteen-font-size" data-toggle="dropdown" role="button" aria-expanded="false">
      <i class="fa fa-wechat" style="font-size:15px;color:yellow"></i>
      </a>
      <ul class="dropdown-menu clearfix notifications-dropdown messages-dropdown" role="menu" id="messages-list">
        <li>
           <h5 class="text-center"><i class="fa fa-spinner fa-spin"></i></h5>
        </li>
      </ul>
   </li>
   <li class="dropdown notification-container" onclick="Wo_OpenNotificationsMenu();">
      <span class="new-update-alert<?php echo $hidden_class;?>">
      <?php echo $notification_alert?>
      </span>
      <a href="#" class="dropdown-toggle <?php echo $unread_update_notification;?> sixteen-font-size" data-toggle="dropdown" role="button" aria-expanded="false">
      <i class="fa fa-globe" style="font-size:20px;color:yellow"></i>
      </a>
      <ul class="dropdown-menu clearfix notifications-dropdown" role="menu">
         <li onclick="Wo_TurnOffSound();" class="turn-off-sound <?php echo Wo_RightToLeft('text-left');?>">
            <span>
               <?php if ($wo['user']['notifications_sound'] == 0): ?>
                  <i class="fa fa-volume-up progress-icon" data-icon="volume-up"></i> <?php echo $wo['lang']['turn_off_notification'] ?>
               <?php else: ?>
                  <i class="fa fa-volume-off progress-icon" data-icon="volume-off"></i> <?php echo $wo['lang']['turn_on_notification'] ?>
               <?php endif; ?>
            </span> 
         </li>
         <li  id="notification-list">
           <h5 class="text-center"><i class="fa fa-spinner fa-spin"></i></h5>
         </li>
      </ul>
   </li>
   <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
         <!-- <span id="user-full-name" class="User-Name">
         <?php echo $wo['user']['name'];?>
         </span> -->
         <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
         <?php 
         if ($wo['config']['pro'] == 1) {
         if (Wo_IsUserPro() === false) { ?>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=go-pro'); ?>">
            <i class="fa fa-bolt fa-fw"style="font-size:25px;color:blue"></i> <?php echo $wo['lang']['upgrade_to_pro']; ?>
            </a>
         </li>
         <?php } else { ?>
         
         <?php } }?>
         <li id="dropdown-search-link">
            <a href="<?php echo Wo_SeoLink('index.php?link1=search');?>">
            <i class="fa fa-search fa-fw"></i> <?php echo $wo['lang']['search']; ?>
            </a>
         </li>
         <li>
            <a id="update-username" href="<?php echo $wo['user']['url']; ?>">
            <i class="fa fa-user fa-fw"style="font-size:20px;color:blue"></i> <?php echo $wo['lang']['my_profile']; ?>
            </a>
         </li>
         <li><hr></li>
         <?php if ($wo['config']['pages'] == 1) { ?>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=pages'); ?>" >
            <i class="fa fa-flag fa-fw"style="font-size:20px;color:blue"></i> <?php echo $wo['lang']['my_pages']; ?>
            </a>
         </li>
         <?php } ?>
         <?php if ($wo['config']['groups'] == 1) { ?>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=groups'); ?>">
            <i class="fa fa-users fa-fw" style="font-size:40px;color:blue;"></i> <?php echo $wo['lang']['my_groups']; ?>
            </a>
         </li>
         <hr>
         <?php } ?>
         <?php if ($wo['config']['classified'] == 1): ?>
          <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=my-products'); ?>">
            <i class="fa fa-fw fa-shopping-cart"></i> <?php echo $wo['lang']['my_products']; ?>
            </a>
          </li>
         <?php endif ?>
         <?php if ($wo['config']['games'] == 1) { ?>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=games'); ?>">
            <i class="fa fa-fw fa-gamepad"></i> <?php echo $wo['lang']['my_games']; ?>
            </a>
         </li>
         <?php } ?>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=albums'); ?>">
            <i class="fa fa-camera-retro" style="font-size:20px;color:blue"></i> <?php echo $wo['lang']['my_albums']; ?>
            </a>
         </li>
         <li><hr></li>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=saved-posts');?>">
            <i class="fa fa-edit" style="font-size:23px;color:blue"></i> <?php echo $wo['lang']['saved_posts']; ?>
            </a>
         </li>
         <?php if ($wo['config']['pro'] == 1) { ?>
         <?php if ($wo['user']['is_pro'] == 1 && $wo['user']['pro_type'] > 1) { ?>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=boosted-posts');?>">
            <i class="fa fa-bolt fa-fw" style="color:#ffbb42"></i> <?php echo $wo['lang']['boosted_posts']; ?>
            </a>
         </li>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=boosted-pages');?>" >
            <i class="fa fa-bolt fa-fw boosted-text"></i> <?php echo $wo['lang']['boosted_pages']; ?>
            </a>
         </li>
         <li><hr></li>
         <?php } ?>
         <?php } ?>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=setting'); ?>">
            <i class="fa fa-cog fa-fw"style="font-size:20px;color:red"></i> <?php echo $wo['lang']['setting']; ?>
            </a>
         </li>
         <?php if(Wo_IsAdmin() || Wo_IsModerator()) { ?>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=admincp'); ?>">
            <i class="fa fa-bar-chart fa-fw"></i> <?php echo $wo['lang']['admin_area']; ?>
            </a>
         </li>
         <?php } ?>
         <li><hr></li>
         <li>
            <a href="<?php echo Wo_SeoLink('index.php?link1=logout'); ?>">
            <i class="fa fa-sign-out fa-fw"style="font-size:20px;color:red"></i> <?php echo $wo['lang']['log_out']; ?>
            </a>
         </li>
      </ul>
   </li>
</ul>