<div class="user-fetch">
   <div class="user-cover" style="background: url(<?php echo $wo['popover']['cover']?>); background-size:cover; background-position:50%; min-height:130px;">
   </div>
   <div class="user-avatar">
      <img src="<?php echo $wo['popover']['avatar']; ?>" alt="">
   </div>
   <div class="text-shadow"></div>
   <div class="user-name">
      <a href="<?php echo $wo['popover']['url']; ?>" data-ajax="?link1=timeline&u=<?php echo $wo['popover']['group_name']?>"><?php echo $wo['popover']['name']; ?></a>
   </div>
   <ul class="user-information <?php echo Wo_RightToLeft('pull-left');?>">
      <li><i class="fa fa-bars fa-fw"></i> <?php echo $wo['popover']['category'];?></li>
      <li><i class="fa fa-users fa-fw" style="font-size:40px;color:blue;"></i> <?php echo Wo_CountGroupMembers($wo['popover']['id']);?></li>
   </ul>
   <div class="clear"></div>
   <div class="user-footer">
      <div class="user-buttons pull-right">
         <div class="user-button user-follow-button <?php echo Wo_RightToLeft('pull-right');?>"><?php echo Wo_GetJoinButton($wo['popover']['id']); ?></div>
      </div>
   </div>
   <div class="clear"></div>
</div>