<div class="profile-style <?php echo Wo_RightToLeft('pull-left');?>">
   <span class="user-popover" data-id="<?php echo $wo['WondredLikedusers']['id']; ?>" data-type="<?php echo $wo['WondredLikedusers']['type']; ?>">
   <a href="<?php echo Wo_SeoLink('index.php?link1=timeline&u=' .  $wo['WondredLikedusers']['username'] . '');?>">
      <div class="avatar <?php echo Wo_RightToLeft('pull-left');?>">
         <img src="<?php echo $wo['WondredLikedusers']['avatar'];?>" alt="<?php echo $wo['WondredLikedusers']['name']; ?> Profile Picture" />
      </div>
      <?php echo $wo['WondredLikedusers']['name']; ?>
   </a>
   </span>
   <?php if($wo['config']['user_lastseen'] == 1 && $wo['WondredLikedusers']['showlastseen'] != 0) { ?>
   <div class="user-lastseen">
      <?php echo Wo_UserStatus($wo['WondredLikedusers']['user_id'],$wo['WondredLikedusers']['lastseen']); ?>
   </div>
   <?php } ?>
   <div class="user-follow-button">
      <?php echo Wo_GetFollowButton($wo['WondredLikedusers']['user_id']);?>
   </div>
</div>