<div class="profile-style">
   <span class="user-popover" data-type="<?php echo $wo['result']['type']; ?>" data-id="<?php echo $wo['result']['id']; ?>">
   <a href="<?php echo $wo['result']['url']. $wo['marker'];?>ref=se">
      <div class="avatar <?php echo Wo_RightToLeft('pull-left');?>">
         <img src="<?php echo $wo['result']['avatar'];?>" alt="<?php echo $wo['result']['name']; ?> Profile Picture" />
      </div>
      <?php echo $wo['result']['name']; ?>
      <?php if(empty($wo['result']['group_id'])) { ?>
      <?php if($wo['result']['verified'] == 1) {   ?>
      <span class="verified-color">
      <i class="fa fa-check-circle" title="<?php echo $wo['lang']['verified_user'];?>"></i>
      </span>
      <?php  } ?>
      <?php } ?>
   </a>
   </span>
   <?php if (!empty($wo['result']['page_id'])) { ?>
   <div class="user-lastseen">
      <?php echo $wo['lang']['category'];?> <?php echo $wo['result']['category']; ?>
   </div>
   <div class="user-follow-button">
      <?php echo Wo_GetLikeButton($wo['result']['page_id']);?>
   </div>
   <?php } else if (!empty($wo['result']['group_id'])) { ?>
   <div class="user-lastseen">
      <?php echo $wo['lang']['members'];?>: <?php echo Wo_CountGroupMembers($wo['result']['id']);?>
   </div>
   <div class="user-follow-button">
      <?php echo Wo_GetJoinButton($wo['result']['id']);?>
   </div>
   <?php } else { ?>
   <?php if($wo['config']['user_lastseen'] == 1 && $wo['result']['showlastseen'] != 0) { ?>
   <div class="user-lastseen">
      <?php echo Wo_UserStatus($wo['result']['user_id'],$wo['result']['lastseen']); ?>
   </div>
   <?php if (!isset($wo['result']['no_btn'])) { ?>
   <div class="user-follow-button">
      <?php echo Wo_GetFollowButton($wo['result']['user_id']);?>
   </div>
   <?php } ?>
   <?php } ?>
   <?php } ?>
</div>